KINDE_CLIENT_ID=504fb9b459104de39ea1d213f6093999
KINDE_CLIENT_SECRET=replace_with_your_kinde_client_secret
KINDE_ISSUER_URL=https://agrocafellm.kinde.com
KINDE_SITE_URL=http://localhost:3000
KINDE_POST_LOGOUT_REDIRECT_URL=http://localhost:3000/login
KINDE_POST_LOGIN_REDIRECT_URL=http://localhost:3000/juicio-experto
NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_API_URL=http://localhost:8000
